@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400&family=Oswald:wght@300&display=swap');
body {
	font-family: 'Noto Sans JP', sans-serif;
	padding: auto;
	margin: auto;
	background-color: #e0e0e0;
}

nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	background-color:  #001242ae;
	position: sticky;
	top: 0;
	padding-right: 2%;
	padding-left: 2%;
}
nav .logo {
	display: flex;
	align-items: center;
}
nav .logo img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
}
nav .logo h1 {
	margin-left: 10px;
	font-size: 15px;
    color: rgb(0, 0, 0);
}
nav ul {
	display: flex;
	list-style-type: none;
}
nav ul li {
	margin-left: 20px;
	cursor: pointer;
}
nav ul li:hover {
	background-color: #d3d3d3;
}
nav ul a{
	text-decoration: none;
	color: rgb(0, 0, 0);
	cursor: pointer;
}
nav ul li img {
	margin-right: 3px;
	width: 20px;
	height: 20px;
}

.page-content {
	margin: 4%;
}
.page-content header {
	margin-top: 5%;
}
.page-content header h1 {
	text-transform: uppercase;
	font-family: 'Noto Sans JP', sans-serif;
	font-size: 6vw;
	margin: auto;
	width: 50%;
}
.page-content header p {
	line-height: 30px;
	color: #6b6b6b;
}
.page-content .presentation-image {
	margin-top: 5%;
}
.page-content .presentation-image img {
	max-width: 100%;
	height: auto;
}
.style-table {
    border-collapse: collapse;
    margin-left: auto;
    font-size: 0.9em;
    font-family: "Noto Sans JP" ,sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.400);
}

.style-table th,
.style-table td {
    padding: 12px 15px;
}

.alternance{
	background-color: #041c5e7a;
}

section.infocase
{
    position: absolute;
    background-color:#687ac2;
    border-radius: 2vw;
    margin-left: auto;
    text-align: center;
    top : 30%;
    left: 50%;
    transform: translate(-50%, 0);
    border: 2px solid black;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    width:20%;
}

footer {
	margin-top: 5%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 10px;
	background-color: #001242ae;
	color: white;
}
footer #colonne h3 {
    font-size: 25px;
}
footer #colonne p {
	font-size: 15px;
	color: rgb(255, 255, 255);
	cursor: pointer;
}
footer p img{
	margin-right: 5px;
}
@media screen and (max-width: 700px) {
	nav {
		justify-content: center;
	}
	nav ul {
		display: none;
	}

	.page-content header {
		margin-top: 10%;
		max-width: 100%;
	}

	footer {
		justify-content: flex-start;
	}
	footer #colonne {
		width: 80%;
	}
}