/*     ----    CSS    ----     */


/*    ----  body     ----      */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400&family=Oswald:wght@300&display=swap');
body 
{
	font-family: 'Noto Sans JP', sans-serif;
	padding: auto;
	margin: auto;
	background-color: #e0e0e0;
}

/*   ---   Titre principal  ---   */

#titreprincipal
{
    text-align:center;
}

/*   --- Pour la navigation (header) ---    */

nav 
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	background-color: #001242ae;
	position: sticky;
	top: 0;
	padding-right: 2%;
	padding-left: 2%;
    
}

nav ul 
{
	display: flex;
	list-style-type: none;
}

nav ul li 
{
	margin-left: 20px;
	cursor: pointer;
}

nav ul li:hover {
	background-color: #92a6ca;
}
nav ul li.accueil:hover {
	background-color: #01112e;
}

nav ul a
{
	text-decoration: none;
	color: white;
	cursor: pointer;
}

nav ul li img 
{
	margin-right: 3px;
	width: 20px;
	height: 20px;
}

/*      ----   Pour le logo   ----       */

nav .logo 
{
	display: flex;
	align-items: center;   
}


nav .logo img {
	width: 100px;
	height: 90px;
	border-radius: 50%;
}
nav .logo h1 {
	margin-left: 10px;
	font-size: 15px;
    color: rgb(255, 255, 255);
}


/*     -----     Contenu de la page   -----      */

.page-content 
{
	margin: 4%;
}

.page-content header 
{
	margin-top: 5%;
	max-width: 80%;   /* à enlever .*/
}

.page-content header h1 
{
	text-transform: uppercase;
    font-family: 'Noto Sans JP', sans-serif;
	margin : auto;
	font-size: 6vw;
    width: 50%;
}

.page-content header p 
{
	line-height: 30px;
	color: #6b6b6b;
}

.page-content .presentation-image 
{
	margin-top: 5%;
}

.page-content .presentation-image img 
{
	max-width: 100%;
	height: auto;
}

/*  ---- Tableau de Questions FAQ  ---- */
form input{
	background-color:#ffffffae;
}

.style-table 
{
    border-collapse: collapse;
    margin: auto;
    font-size: 0.9em;
    font-family: "Noto Sans JP" ,sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.400);
}

.style-table thead tr 
{
    background-color: #001242ae;
    color: #ffffff;
    text-align: left;
}

.style-table th, .style-table td 
{
    padding: 12px 15px;
}

.style-table tbody tr 
{
    border-bottom: 1px solid #dddddd;
}
th{
	color: #dddddd;
	background-color: #031649bd;
}
.alternance{
	background-color: #041c5e7a;
}

/*Pour le cadre en centre de page où se trouve diverses informations
comme la saisie des logins etc...*/
section.decocase
{
    position: static;
    background-color:#ff0000ba;
    border-radius: 2vw;
    margin: auto;
    text-align: center;
	border: 2px solid rgb(149, 23, 23);
	padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    width:20%;
}
.decocase a
{
	text-decoration: none;
	color: rgb(255, 255, 255);
	cursor: pointer;
}

section.infocase
{
    position: static;
    background-color:#00124277;
    border-radius: 2vw;
    margin: auto;
    text-align: center;
	border: 2px solid black;
	padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    width:20%;
}
.infocase a
{
	text-decoration: none;
	color: white;
	cursor: pointer;
}

section.inscricase
{
    position: static;
    background-color:#c7c42f;
    border-radius: 2vw;
    margin: auto;
    text-align: center;
	border: 2px solid rgb(0, 0, 0);
	padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    width:20%;
}
.inscricase a
{
	text-decoration: none;
	color: rgb(0, 0, 0);
	cursor: pointer;
}

/*     ----     pied de page     ----      */

footer 
{
	margin-top: 5%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 10px;
	background-color:#001242ae;
	color: white;
}


footer #colonne h3 
{
    font-size: 25px;
}

footer #colonne p
{
	font-size: 15px;
	color: rgb(255, 255, 255);
	cursor: pointer;
}

footer p img
{
	margin-right: 5px;
}

/*        ----      Mode telephone portable     ----      */

@media screen and (max-width: 700px) 
{
	nav 
	{
		justify-content: center;
	}

	nav ul 
	{
		display: none;
	}

	.page-content header
	{
		margin-top: 10%;
		max-width: 100%;
	}

	footer 
	{
		justify-content: flex-start;
	}

	footer #colonne 
	{
		width: 80%;
	}
}