/*     ----    CSS    ----     */


/*    ----  body     ----      */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400&family=Oswald:wght@300&display=swap');
body
{
	font-family: 'Noto Sans JP', sans-serif;
	padding: auto;
	margin: auto;
	background-color: white;
}

/*   ---   Titre principal  ---   */

.titreprincipal
{
	margin-left: auto;
	text-align: center;
	color:#001242ae;
}

/*   --- Pour la navigation (header) ---    */

nav 
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	background-color: #001242ae;
	position: sticky;
	top: 0;
	padding-right: 2%;
	padding-left: 2%;
    /*padding-top: 1%;*/
}

nav ul 
{
	display: flex;
	list-style-type: none;
}

nav ul li 
{
	margin-left: 20px;
	cursor: pointer;
}

nav ul li:hover 
{
	background-color: #92a6ca;
}

nav ul a
{
	text-decoration: none;
	color: white;
	cursor: pointer;
}

nav ul li img 
{
	margin-right: 3px;
	width: 20px;
	height: 20px;
}

/*      ----   Pour le logo   ----       */

nav .logo 
{
	display: flex;
	align-items: center;   
}


nav .logo img 
{
	width: 100px;
	height: 90px;
	border-radius: 50%;
}

nav .logo h1 
{
	margin-left: 10px;
	font-size: 15px;
    color: white;
}

nav .logo h1:hover
{
    background-color: #92a6ca;
}


/*     -----     Contenu de la page   -----      */

.page-content 
{
	display: flex;
    flex-direction: column;
    align-items: center;
	
}

.page-content header 
{
	margin-top: 5%;
	max-width: 80%;   /* à enlever .*/
}

.page-content header h1 
{
	display: flex ;
	text-transform: uppercase;
    font-family: 'Noto Sans JP', sans-serif;
	padding-top: 0%;
	font-size: 6vw;
}

.page-content header p 
{
	line-height: 30px;
	color: #6b6b6b;
}

.page-content .presentation-image 
{
	margin-top: 5%;
}

.page-content .presentation-image img 
{
	max-width: 100%;
	height: auto;
}

/*  ---- Tableau de Questions FAQ  ---- */

.style-table 
{
	margin-top: 10px;
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: "Noto Sans JP" ,sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.400);
}
.style-table tr:nth-child(odd){
	background: #041c5e7a;

}
.style-table thead tr 
{
    background-color: #001242ae;
    color: #ffffff;
    text-align: left;
}

.style-table th, .style-table td 
{
    padding: 12px 15px;
}

.style-table tbody tr 
{
    border-bottom: 1px solid #dddddd;
}

th
{
	color: #dddddd;
	background-color: #031649bd;
}
.button 
{
	background-color: #fdbb03;
	color: rgb(0, 0, 0);
	border-radius: 5px;
	margin-left: 5px;
	padding: 5px;
	text-decoration: none;
	display: inline-block;
}

.buttona
{
	background-color: #031649bd;
	color: rgb(255, 255, 255);
	border-radius: 5px;
	margin-left: 5px;
	padding: 5px;
	text-decoration: none;
	display: inline-block;
}

.buttonblue 
{
	background-color: #e01010;
	color: rgb(0, 0, 0);
	border-radius: 5px;
	margin-left: 5px;
	padding: 5px;
	text-decoration: none;
	display: inline-block;
}

/*---Tableau Supprimer---*/
.SUPPcase
{
	position: absolute;
	background-color:#fd0000e8;
	margin: auto;
	text-align: center;
	text-shadow: 15px rgb(0, 0, 0);
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 20px;
	justify-content: center;
	width:20%;
}


/*  ---- Bouton supprimer ---- */

.SUPPbutton
{
    background-color: #dd1212;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    margin-left: 5px;
    padding: 5px;
    text-decoration: none;
    display: inline-block;
}


/*   ---- Bouton  valider --- */

.Validbutton
{
    background-color: #2fe61e;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    margin-left: 5px;
    padding: 5px;
    text-decoration: none;
    display: inline-block;
}


/*     ----     pied de page     ----      */

footer 
{
	margin-top: 5%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 10px;
	background-color:#001242ae;
	color: white;
}

footer #colonne h3 
{
    font-size: 25px;
}

footer #colonne p
{
	font-size: 15px;
	color: rgb(255, 255, 255);
	cursor: pointer;
}

footer p img
{
	margin-right: 5px;
}



/*        ----      Mode telephone portable     ----      */

@media screen and (max-width: 700px) 
{
	nav 
	{
		justify-content: center;
	}

	nav ul 
	{
		display: none;
	}

	.page-content header 
	{
		margin-top: 10%;
		max-width: 100%;
	}

	footer 
	{
		justify-content: flex-start;
	}

	footer #colonne 
	{
		width: 80%;
	}

	.popup
	{
		width: 70%;
	}
}

/*Pour le cadre en centre de page où se trouve diverses informations
comme la saisie des logins etc...*/

section.infocase
{
    position: absolute;
    background-color:#687ac2;
	background-image: url('img/BgCase.jpg');
    box-shadow:10px 10px 10px rgba(245, 245, 245, 0.488);
    margin-left: auto;
    text-align: center;
    top : 30%;
    left: 50%;
	transform: translate(-50%, 0);
	border: 1px solid black;
	padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    width: 25%;
	color : #001242ae;
}


/*   ----    Bouton de connexion  et d'accueil  ----    */

button.boutonacces
{
	background-color: #001242ae;
	color : white;
	border-radius: 2vw;
}

/*     ----     Bouton oubli     -----   */
button.boutonoubli
{
	background-color: transparent;
	color : #001242ae;
	border : transparent;
}

/*     ----    Les saisies   -----   */

#userconnexion,#passwordconnexion,#userinscription,
#mailinscription,#passwordinscription, #emailforgot, 
#passwordforgot, #passwordforgotcheck , #codeforgot
{
    background-color: white;
    border-radius: 2vw;      /*Pour arrondir les bords*/
}

/*  --- choix menu déroulant type sport ---- */

.TypeSport
{
	background-color: blue;
}

/* --- pop up ---  */

.popup 
{
    margin: auto;
    padding: 20px;
    border-radius: 5px;
    width: 30%;
    position: relative;
	background-color: white;
	box-shadow: 0 0 20px rgb(0 0 0 / 40%);
}
  
.popup h2 
{
    margin-top: 0;
    color: #333;
    font-family: 'Noto Sans JP', sans-serif;
    padding: auto;
}

.popup .close 
{
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup .close:hover 
{
    color: #06D85F;
}

.popup .content 
{
    max-height: 30%;
    overflow: auto;
	
    background-color: white;
}

/*   --- text area pop up ---- */

textarea .pop
{
	border-radius: 1vw;
	background-color: white;
	margin:5px;
}


/*    ---- Form pop up  ----- */
form .popup
{
    margin-left: 35%;
}


/*   --- Disparition pop up : overlay  --- */

.overlay 
{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target 
{
    visibility: visible;
    opacity: 1;
}

/*    ----    Background image    ---- */

.bgimg
{
	text-align: center;
}

.bgimg img
{
	width: 100%;
	margin: auto;
}


/*    ----    Copyright     ---- */

.copyright
{
	text-align:center;
	background-color: #001242ae;
	color:white;
}
