@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400&family=Oswald:wght@300&display=swap');

body {
	font-family: 'Noto Sans JP', sans-serif;
	padding: 0%;
	margin: 0%;
	background: #bbbbbb;
}

table ul li, a{
	list-style-type: none;
	margin-top: 20px;
	display: flex;
	align-items: center;
}

table ul li img {
	width: 50px;
	height: 50px;
}

.image {
	min-height: 100%;
	background: url("images/Background.webp");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	background-color: #080809;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgba(128, 128, 128, 0.399);
	position: fixed;
	width: 98%;
	padding-left: 1%;
	padding-right: 1%;
}

nav .profile {
	display: flex;
	align-items: center;
}

nav .profile img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

nav .profile h1 {
	margin-left: 10px;
	font-size: 15px;
}

nav ul {
	display: flex;
	list-style-type: none;
	flex-direction: row;
}

ul li {
	cursor: pointer;
	margin-left: 10px;
}

nav ul li:hover {
	background-color: grey;
	color: white;

}

ul a {
	text-decoration: none;
	color: whitesmoke;
	cursor: pointer;
	animation-duration: 4s;
	animation-name: slidein;
}

@keyframes slidein {
	from {
    margin-left: 100%;
    width: 300%;
}

	to {
    margin-left: 0%;
    width: 100%;
}
}

ul li img {
	margin-right: 3px;
	width: 20px;
	height: 20px;
}

.page-content {
	margin: 0% 4%;
}

header {
	margin-top: auto;
	max-width: 85%;
}

header h1 {
	margin: auto;
	padding-top: 10px;
	text-transform: uppercase;
	font-family: 'Noto Sans JP', sans-serif;
	font-size: 6vw;
	color: #ccc;
}

header p {
	line-height: 30px;
	margin-right: 45%;
	color: #ffffff;
	background-color: rgba(145, 145, 145, 0.151);
}

.projects-section {
	margin-top: 6%;
	margin-left: 10%;
	margin-right: 5%;
	background-color: #ffffff8d;
	box-shadow: 5px 5px 5px 5px #0000000a;
	border-radius: 1vw;
	padding-left: 10%;
	cursor: pointer;
}

.projects-section h1 {
	font-family: 'Noto Sans JP', sans-serif;
	text-transform: uppercase;
	font-size: 3vw;
}

.projects-section .projects {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.projects-section .project {
	margin-right: 20px;
	max-width: 195px;
	padding-left: 10px;
}

.projects-section .project h4 {
	margin: 0;
}

.projects-section .project .description {
	font-size: 12px;
}

.projects-section .project a {
	text-decoration: none;
	color: #00085c;
	cursor: pointer;
}

.projects-section .project a:hover {
	background-color: #1f1f1f;
	color: #ccc;
}

.projects-section .project .dates {
	font-size: 13px;
	color: rgb(36, 36, 36);
}

footer {
	margin-top: 0%;
	display: flex;
	justify-content: space-around;
	padding: 10px;
	background-color: #1f1f1f;
	color: whitesmoke;
	flex-wrap: wrap;
	align-content: space-around;
	align-items: stretch;
}


footer #colonne p {
	font-size: 15px;
	color: whitesmoke;
	cursor: pointer;
}

footer a {
	text-decoration: none;
	color: whitesmoke;
	font-size: 15px;
	cursor: pointer;
}

footer #colonne p:hover {
	background-color: #dbdbdb27;
}

footer p img {
	margin-right: 5px;
}


label,
#toggle {
	display: none;
}

@media screen and (max-width: 700px) {

	nav .main_pages {
		display: none;
		flex-direction: column;
		position: absolute;
		width: 100%;
		color: black;
		background-color: #80808081;
		top: 110%;
	}

	nav ul li,
	nav ul li a{
		font-size: 15px;
		color: black;
		background-color: #ccc;
	}

	label {
		width: 30px;
		display: flex;
		margin-right: 10%;
		font-size: 40px;
		cursor: pointer;
	}

	#toggle:checked+.main_pages {
		display: flex;
	}

	header {
		padding-top: 10%;
		max-width: 100%;
	}

	header p {
		line-height: 30px;
		margin: auto;
		margin-bottom: 10%;
		color: #ffffff;
		margin-top: 10%;
		background-color: rgba(145, 145, 145, 0.151);
	}

	.projects-section {
		margin-top: 15%;
	}

	.projects-section h1 {
		font-size: 1.5em;
	}

	.projects-section .project {
		margin-right: 10%;
		margin-bottom: 15px;
		max-width: 100%;
	}

	.projects-section .project .description {
		font-size: 13px;
	}

	iframe {
		display: none;
	}

	footer {
		justify-content: flex-start;
	}

	footer #colonne {
		width: 100%;
		margin-left: 10px;
	}

	.Ecole {
		display: none;
	}
}
